<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zljx.mapper.MessageUserMapper">

    <insert id="insertUser" parameterType="com.zljx.pojo.MessageUser">
        INSERT INTO message_user (ip, `name`, created, updated)
        VALUES (#{ip}, #{name}, #{created}, #{updated})
</insert>



</mapper>