.picDesc{text-align:center;margin-bottom:15px}
#cartName,#workName{padding:10px 0 20px;font-size:20px;color:#ffa800;line-height:1.4;text-align:center}
.article{line-height:2;padding-bottom:20px;font-family:"microsoft YaHei UI"!important;text-align:center;font-size:15px}
.relink{padding:0 20px;height:40px;line-height:40px;border:1px solid #ddd}